name: ESLint

on:
  push:
    branches: ["master", "dev"]
  pull_request:
    branches: ["master", "dev"]
  schedule:
    - cron: '28 1 * * * 0'

jobs:
  eslint:
    name: Run eslint scanning
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install ESLint
        run: |
          pnpm install eslint@8.10.0
          pnpm install @microsoft/eslint-formatter-sarif@2.1.7

      - name: Run ESLint
        run: |
          pnpx eslint .
            --config .eslintrc.js
            --ext .js,.jsx,.ts,.tsx
            --format @microsoft/eslint-formatter-sarif
            --output-file eslint-results.sarif
        continue-on-error: true

      - name: Upload analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: eslint-results.sarif

      - name: Wait for processing
        run: echo "Waiting for analysis results to be processed..."
